<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href = "/styles/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300&family=Inter:wght@200&family=Rubik:wght@400;500;700&display=swap" rel="stylesheet">
   
<body>
    <div class="container">
        <div class="navbar">
            <a href="/static/Hall, Kyrstn_Resume.pdf" target="_blank">05.Resume</a>
                <a href="#projects">04.Projects</a>
                <a href="#experience">03.Experience</a>
                <a href="#about-me">02.About</a>
                <a href="/templates/index.html">01.Home</a>
        </div>

        <div class="intro" id="home">
            <div class="small-text">Hi! my name is</div>
            <div class="large-text">Kyrstn Hall</div>
            <div class="bio">
                <p>4th year CIS student & incoming software engineer </p>
            </div>
        </div>

        <div class="social-buttons">
            <a href="https://github.com/asiandallas" class="button" target="_blank">
                <img src="/imgs/GitHub.png" alt="GitHub">
                GitHub
            </a>
            <a href="https://www.linkedin.com/in/kyrstnhall/" class="button" target="_blank">
                <img src="/imgs/LinkedIn.png" alt="LinkedIn">
                LinkedIn
            </a>
            <a href="mailto:kyrstn.hall@gmail.com" class="button">
                <img src="/imgs/Email.png" alt="Email">
                Email
            </a>
        </div>

        <div id="about-me" class="section">
            <div class="about-content">
                <div class="text">
                    <h2>About Me...</h2>
                    <p>
                        I'm currently a 4th year CIS major at CSUSM! At CSUSM, I have been a computer science tutor for 
                        over 2 years. I have also held other jobs such as being an embedded tutor and grader for Computer 
                        Science 1 and for Assembly Language & Digital Circuits. I enjoy being a mentor and helping out 
                        other students succeed! Being a CIS major, I have broad knowledge
                        in both Computer Science and Business.
                    <p>
                        <br>
                    </p>
                        After graduating college in May 2024, I will be joining Wells Fargo as a Technology Analyst in Software Engineering!
                        I hope to gain more knowledge in cloud computing and possibly learn more about cybersecurity.
                    </p>
                        <br>

                    </p>
                        Outside of school, I am a competitive speedcuber! I have been competing since 2017
                        and enjoy solving puzzles such as the 3x3, 4x4, and Megaminx. Proudly, my fastest 3x3 time is 9.00 seconds.
                        I also enjoy photography and travelling. I love seeing new places and it is a huge goal of mine to visit all 50
                        states, where I'm currently at 35/50! 
                        Going to these places, capturing beautiful landscapes and night shots are my favorite. 
                    </p>
                        <br>
                    </p>
                        Also a HUGE Kpop fan :) Stan Dreamcatcher
                    </p>
                </div>

                <div class="images">
                    <img src="/imgs/me.png" alt="Picture" width="300px">
                    <img src="/imgs/me2.png" alt="Picture" width="300px">
                </div>
                </div>
            </div>
        </div>
        
        <div id="experience" class="section">
            <div class="about-content">
                <div class="text">
                    <h2>Experience</h2>
                    <p>To be added!</p>
                </div>
            </div>
        </div>
        
        <div id="projects" class="section">
            <div class="about-content">
                <div class="text">
                    <h2>Projects</h2>
                    <p>To be added!</p>
                </div>
            </div>
        </div>

    </div>
</body>
</html>